<p>Bienvenido, @User.Identity.Name</p>
<a asp-controller="Cuenta" asp-action="Logout">Cerrar sesión</a>

<div class="container text-center">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenidos a FECOM</h1>
        <p class="lead">
            Con esta Web deseamos emprender una nueva etapa, sabemos que los tiempos avanzan y no nos queremos quedar atrás. Nos hemos esforzado y pensamos que puede interesarle, por eso le invitamos a que la visite y que a través de ella acceda a cualquiera de nuestros productos, novedades y ofertas.
        </p>
    </div>


</div>